# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
/.build/
Packages/
xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets
Secrets.swift
